<h1> Datepicker with only date and month</h1>


<mat-form-field appearance="fill">
  <mat-label>DD/MM</mat-label>
  <input matInput [(ngModel)]="monthAndYear"
                  (dateChange)="emitDateChange($event)"
                  [matDatepicker]="picker"
                  
                  placeholder="MM/DD"
                  readonly>
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker [startView]="'month'" [touchUi]="true" mode="month"></mat-datepicker>
</mat-form-field>
